.game-field {
    position: relative;
    width: 100vw;
    height: 100vh;
    max-width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    /* Metalic gradient */
    background: linear-gradient(135deg, 
        var(--medium-grey) 0%, 
        var(--light-grey) 25%,
        var(--almost-white) 50%,
        var(--light-grey) 75%,
        var(--medium-grey) 100%
    );
    margin: 0 auto;
    overflow: hidden;
}

/* Metalic texture */
.game-field::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image:        
        repeating-linear-gradient(
            0deg,
            transparent,
            transparent 2px,
            rgba(255, 255, 255, 0.03) 2px,
            rgba(255, 255, 255, 0.03) 4px
        ),
        repeating-linear-gradient(
            90deg,
            transparent,
            transparent 2px,
            rgba(0, 0, 40, 0.02) 2px,
            rgba(0, 0, 40, 0.02) 4px
        ),
        url(../img/background.webp);
    background-size: contain;
    background-position:  left top;
    pointer-events: none;
    z-index: 1;
}

.harlequin {
    position: absolute;
    bottom: 6.8rem;
    left: 0;
    background-image: url(../img/harlequin.webp);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: -3rem bottom;
    width: 40%;
    height: 80vh;
    margin-bottom: 20px;
    z-index: 10;
    filter: drop-shadow(5px 5px 10px rgba(6, 6, 14, 0.5));
}

/* Mrk overlay */
.harlequin::after{
  content: "";
  position: absolute;
  inset: 0;
  background-image: url(../img/harlequin-wink.webp);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -3rem bottom;
  opacity: 0;
  pointer-events: none;
  animation: wink 10.8s infinite;
}

.main-game {
    width: 75%;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .game-field {
        max-width: 100%;
    }
    
    .harlequin {
        width: 30%;
        bottom: 6rem;
    }
    
    .main-game {
        width: 70%;
    }
}

@keyframes wink{
  0%, 94%, 100% { opacity: 0; }
  95% { opacity: 1; }
  97% { opacity: 1; }
  98% { opacity: 0; }
}


/* Accessibility */
@media (prefers-reduced-motion: reduce){
  .harlequin::after{ animation: none; }
}
