.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 2rem 1rem;
    background-color: var(--box-shadow-color);
    color: var(--almost-white);
    backdrop-filter: blur(0.5rem);
    pointer-events: none;
    opacity: 1;
    z-index: 200;
}

.modal h2 {
    text-align: center;
    font-size: 2.5rem;
}

.win-table {
    width: 80%;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem
}

.symbol-icon {
    font-size: 4rem;
}