:root {
    /* Main palette - black, white, red */
    --primary-black: #06060e;
    --secondary-black: #16161e; 
    
    --dark-grey: #5e5e70;
    --medium-grey: #86869c;
    --light-grey: #aeaec4;
    
    --almost-white: #e4e4f0;
    --pure-white: #ffffff;         
    
    /* Red accent */
    --accent-red: #dc143c;
    --bright-red: #ff4757;
    
    /* Metalic colors */
    --silver: #babace;
    --dark-silver: #7a7a8c;
    --light-silver: #d4d4e8; 
    --chrome: #dadaee;

    --win-color: #dc143c;

    /* Shadows */
    --box-shadow-color: rgba(6, 6, 14, 0.5);
    --inset-shadow-color: rgba(255, 255, 255, 0.1);

    /* Glow */
    --win-glow-white: rgba(255, 255, 255, 0.52);
    --win-glow-red: rgba(220, 20, 60, 0.70);

    /* Radius */
    --radiuss-pill: 50%;
    --radius-lg: 1rem;
    --radius-md: 0.5rem;
    --radius-sm: 0.25rem;
    --radius-xs: 0.125rem;

    /* Spacing */
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 1rem;
    --spacing-lg: 2rem;

    --game-scale: 1;
    --app-h: 100svh; 
    --menu-button: 3.5rem;
    --menu-button-before: 4.5rem;
    --menu-button-sm: 2rem;
    --menu-button-before-sm: 3rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    background-color: var(--secondary-black);
    font-family: 'Arial', sans-serif;
    overflow: hidden;
    position: fixed;
}

#root {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    min-height: -webkit-fill-available;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

@media (max-width: 1025px) {
    #root { 
        align-items: flex-start; 
    }
}

@media (max-width: 949px) {
  :root { --game-scale: calc(100vw / 950); }
}

/* Landscape */
@media (orientation: landscape) and (max-height: 799px) {
  :root { --game-scale: calc(100vh / 800); }
}

@media (max-width: 949px) and (max-height: 799px) {
  :root { --game-scale: calc(min(100vw / 950, 100vh / 800)); }
}

/* Mobile fix */
@supports (zoom: 1) {
  .game-field{
    transform: none !important;
    zoom: var(--game-scale);
  }
}
